.btn-store {
    cursor: pointer;
}

.btn-close {
    /* display: none; */
    border: 3px solid transparent;
    border-radius: 16px;
    
    margin: 0 auto;
    padding: 10px 20px;

    color: inherit;
    background-color: #101620;

    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-close:hover {
    background-color: #d3d0d171;
    transition: ease .2s;
    color: black;
}


.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Visibility */

.fade-block {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000085
    /* background-color: var(--color-purple-500); */

}

.hidden {
    display: none;
}
/* Card */

.card {
    position: relative;
    display: flex;
    flex-direction: column;

    /* background-color: #fff; */
    background-color: rgba(30, 41, 59, 1);

    border: 2px solid rgb(100, 116, 139);
    border-radius: 2.25rem;

    padding: 15px;

    color: #E2E8F0;

}

.card-body {
    padding: 2.25rem 0.5rem;
}

.card-title {
    text-align: center;
    
}